.btn {
  background-image: var(--gradient);
  padding: 1.5rem 2.5rem;
  color: var(--white);
  border: none;
  border-radius: 3rem;
  cursor: pointer;

  @media only screen and (max-width: 37.5em) {
    font-size: 3rem;
    padding: 3rem 5rem;
    border-radius: 6rem;
  }

  &:hover {
    background-image: var(--gradient-hover);
  }
}
